set timeout=10

menuentry "Ubuntu 24.04 Custom" {
  set gfxpayload=keep
  linux /vmlinuz boot=casper quiet splash --
  initrd /initrd
}

menuentry "Ubuntu 24.04 Custom (Recovery)" {
  set gfxpayload=keep
  linux /vmlinuz boot=casper quiet splash text --
  initrd /initrd
}