timeout 600
default boot

label boot
  menu label ^Boot from Ubuntu 24.04 Custom
  kernel vmlinuz
  append file=cdrom:/preseed/ubuntu.seed boot=casper quiet splash \
    -- cdrom-detect/try-usb=false noprompt --
  initrd initrd

label usbboot
  menu label ^Boot from USB
  kernel vmlinuz
  append file=cdrom:/preseed/ubuntu.seed boot=casper quiet splash \
    noprompt --
  initrd initrd

label rescue
  menu label ^Rescue Mode
  kernel vmlinuz
  append file=cdrom:/preseed/ubuntu.seed boot=casper quiet splash \
    text rescue/enable=false noprompt --
  initrd initrd